#fs-overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#header-img {
  height: auto;
  width: 65%;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myVideo {
  position: fixed;
  height: 100vh;
  width: 100%;
  object-fit: fill;
  z-index: -1;
}

.menu-links {
  margin-top: -10%;
}

.menu-links h3 {
  color: #fff;
  font-size: 2em;
  padding-left: 2.5%;
}

.menu-links h3:hover {
  cursor: pointer;
  color: orange;
}

h1, h2, h3 {
  font-family: 'Cinzel';
}

.selected-char-img {
  width: 400px;
  height: auto;
  display: block;
}